<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="10.100.58.9,11000"/>
    <!--<add key="10.100.58.9,12000"/>
    <add key="10.100.58.9,11"/>
    <add key="10.100.58.9,1100"/>-->
  </appSettings>
</configuration>