<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="1" value="127.0.0.1"/>
    <add key="2" value="127.0.0.1"/>
    <add key="3" value="127.0.0.1"/>
    <add key="4" value="127.0.0.1"/>
  </appSettings>
</configuration>